<header>
    <nav>
        <a href="/">Vehicle Search</a>
        <ul>
            <li><a href="/products">Products</a></li>
            <li><a href="/products/new">Add Products</a></li>
            <li><a href="/fitments">Fitments</a></li>
            <li><a href="/fitments/new">Add Fitments</a></li>
        </ul>
    </nav>
      
</header>
<br>