<h2>Vehicle Fitments</h2>
<ul>       
    <% fitments.forEach(fitment => { %>     
        <li>
            <%= fitment.year %>
            <%= fitment.make %>
            <%= fitment.model %> 
        </li>     
    <% }) %>       
</ul> 