<div>
    <div>
        <label>Year</label>
        <input type="number" name="year" value="<%= fitment.year %>">        
    </div>
    <div>
        <label>Make</label>
        <input type="string" name="make" value="<%= fitment.make %>">
    </div>
    <div>
        <label>Model</label>
        <input type="string" name="model" value="<%= fitment.model %>">  
    </div>
</div>