<h2>Products</h2>
<div>       
    <% products.forEach(product => { %>           
        <img src="<%= product.coverImagePath %>" alt="<%= product.title %>" width="100">  
    <% }) %>        
</div> 